*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container{
    margin: 15%;
    border-radius: 10px;
    max-width: 700px;
}
.container h1{
    font-size: 50px;
    color: rgb(24, 98, 33);
}
.container h1 span{
    color: black;
    text-decoration: underline;
}

.display{
    border: none;
    outline: none;
    background-color: rgb(251, 239, 218);
    margin-top: 20px;
    padding: 40px;
    border-radius: 10px;
}
.display input{
    border: none;
    outline: none;
    background-color:rgb(251, 239, 218) ;
    width: 90%;
    font-size: 25px;
    border-bottom: 2px solid grey;
}

.display i{
    font-size: 30px;
}
.display i:hover{
    cursor: pointer;
}
button{
    background-color: rgb(7, 227, 153);
    display: flex;
    margin-top: 40px;
    border: none;
    outline: none;
    width: 35%;
    font-size: 40px;
    margin-left: 450px;
    padding: 16px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}